a {
    word-break: break-all;
}

table {
    table-layout: fixed;
    width: 100%;
}

td:nth-child(1) {
    width: 40px;
}

td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.emojione {
	width: 1em;
	height: 1em;
}

a.slack-link {
    text-decoration: none;
}

a:hover.slack-link {
    text-decoration: none;
}

.div-attachment {
    padding-left: 10px;
    border-left: 3px solid #cccccc;
}

